
{% extends "base.html" %}

{%load course %}
{%load pagination %}

{% block title %}Enrolled Courses{% endblock %}


{% block nav_items %}
    <li class="nav-item">
        <a class="nav-link active" href="{%url 'user_home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{%url 'course_list' %}">courses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'logout' %}">logout</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">account</a>
    </li>

{%endblock%}

{% block content %}
<section id="main">
    <div class="container-fluid">
      <div class="row">
          <!--Side nav-->
        <div class="col-md-2 bg-primary p-0">
          <ul class=" nav sidenav flex-column mt-3 mb-3" id="sideNav">
            <li class="nav-item">
                <a class="nav-link active"href="{%url 'course_list' %}">All Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'student_course_list' %}">Enrolled Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Saved Courses</a>
            </li>
            
          </ul>
        </div>
        <!--Content-->
        <div class="col">
            {% if error %}
                <div class="alert alert-warning" role="alert">
                    {{error}}
                </div>
            {%endif%}

            <div class="container teacher-home-main" id="content">
                <h4 class="display-4">Enrolled Courses</h4>
                <div id="your-courses" class="container teacher-home-your-courses">
                    <!--nav class="nav subject-nav mb-4 mt-4">
                        <a class="nav-link {%if not subject %}active{%endif%}" aria-current="page" href="{%url 'manage_course_list' 'all' %}">All</a>
                            {% for sub in all_subjects %}
                            <a class="nav-link {%if sub == subject %}active{%endif%}" href="{% url 'course_list_subject' sub.slug %}">{{sub}}</a>
                            {%endfor%}
                    </nav-->
                    <div class="course-list">
                        {%for course in courses %}
                        <div class="course-item" id="course-{{course.id}}">
                            <h1 style="text-decoration: none;">{{course.title}}</h1>
                            <p class="lead m-0 p0"><b>Instructor: </b>{{user.username}}</p>
                            <p class="lead ">{{course.modules.count}} modules</p>
                            <p>{{course.overview}}</p>
                            <a href="{%url 'student_course_detail' course.id %}" type="button" class="btn btn-primary-solid ">View</a>
                            <a href="{%url 'student_unenroll_course' course.id %}" type="button" class="btn btn-danger-solid ">Un Enroll</a>
                        </div>
                        {%empty%}
                        <div class="alert alert-info" role="alert">
                            <p>You have not enrolled in a course</p>
                            <a href="{%url 'course_list' %} " class="btn btn-primary-solid">Browse courses</a>
                        </div>
                        {%endfor%}
                    </div>
                    {% pagination_tag total_pages page_number pagination_url%}
                    <!--{%if total_pages > 1 %}
                    <nav class="mt-5">
                      <ul class="pagination justify-content-center">
                        <li class="page-item {%if page_number == 1 %}disabled{%endif%}">
                          <a class="page-link" href="{%url 'student_course_list_page' page_number|dec_one %}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        {% for page in total_pages|page_number_list %}
                          {% if page != None %}
                          <li class="page-item">
                            <a class="page-link" href="{%url 'student_course_list_page' page %}">{{page}}</a>
                          </li> 
                          {%else%}
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                          {%endif%}
                        {%endfor%}
                        <li class="page-item {%if page_number == total_pages %}disabled{%endif%}">
                          <a class="page-link" href="{%url 'student_course_list_page' page_number|inc_one %}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                    {%endif%}-->
                  </div>              
            </div>
            
        </div>
      </div>
    </div>
  </section>

{% endblock %}
