{% extends "manage/form_base.html" %}

{% block title %}
    {%if object %}
    Edit "{{object.title}}"  
    {% else %}
    Create Module
    {% endif %}
{% endblock %}

{% block side_nav%}
  <li class="nav-item">
    <a class="nav-link "href="{%url 'course_list' %}">All Courses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{%url 'manage_course_list' 'all' %}">My Courses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{%url 'manage_course_detail' course_id %}">Back to course</a>
  </li>
  
{%endblock%}

{%block form_top_content %}
  {%if object %}
      <h5 class="display-5">Edit {{object.title}}</h5>   
  {% else %}
      <h5 class="display-5">Create Module</h5>   
  {% endif %}
{% endblock %}

{% block cancel_href %}{%url 'manage_course_list' 'all' %}{%endblock%}