{% extends "manage/delete_base.html" %}

{% block title %}
    Delete Course {{object.title}}
{% endblock %}

{% block side_nav%}
  <li class="nav-item">
    <a class="nav-link "href="{%url 'course_list' %}">All Courses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{%url 'manage_course_list' 'all' %}">My Courses</a>
  </li>
{%endblock%}

{%block form_top_content %}
<h1>Delete course "{{ object.title }}" ?</h1>
{% endblock %}


{% block cancel_href %}{%url 'manage_course_list' 'all' %}{%endblock%}

