{% extends "manage/form_base.html" %}

{% block title %}
    {%if object %}
    Edit "{{object.title}}"  
    {% else %}
    Create Course
    {% endif %}
{% endblock %}

{% block side_nav%}
  <li class="nav-item">
    <a class="nav-link "href="{%url 'course_list' %}">All Courses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{%url 'manage_course_list' 'all' %}">My Courses</a>
  </li>
{%endblock%}

{%block form_top_content %}
  {%if object %}
      <h5 class="display-5">Edit {{object.title}}</h5>   
  {% else %}
      <h5 class="display-5">Create Course</h5>   
  {% endif %}
{% endblock %}


{% block cancel_href %}
  {%if object %}
    {%url 'manage_course_detail' object.id %}
  {% else %}
    {%url 'manage_course_list' 'all' %}
  {% endif %}
{%endblock%}

