{% if total_pages != 1%}
<nav class="mt-5">
    <ul class="pagination justify-content-center">
      <li class="page-item {%if page_number == 1 %}disabled{%endif%}">
        <a class="page-link"  
            href="{{ prev_page }}"
          aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% for page in page_number_list %}
        <li class="page-item">
          <a class="page-link"
            href="{{pagination_url}}{{page}}/">{{page}}</a>
        </li> 
      {%endfor%}  
      <li class="page-item {%if page_number == total_pages %}disabled{%endif%}">
        <a class="page-link" href="{{ next_page }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>    
  {%endif%}