{% extends "base.html" %}

{% load admin_tags %}

{% block nav_items %}
    
{%endblock%}

{% block content %}
<section id="main">
    <div class="container-fluid">
      <div class="row">
          <!--Side nav-->
        <div class="col-md-2 bg-primary p-0">
          <ul class=" nav sidenav flex-column mt-3 mb-3" id="sideNav">
            
            {% block sidenav_links%}
            {%endblock%}
            
          </ul>
        </div>
        <!--Content-->
        <div class="col text-break">
            {% if error %}
                <div class="alert alert-warning" role="alert">
                    {{error}}
                </div>
            {%endif%}

            {%block main_content %}
            {%endblock%}
            
        </div>
      </div>
    </div>
  </section>

{% endblock %}

