@use "../custom" as *;
@use "mixins" as *;


.btn-primary{
    @include my-btn-mixin($primary);
}

.btn-secondary{
    @include my-btn-mixin($secondary);
}

.btn-byzantium {
    @include my-btn-mixin($byzantium);
}

.btn-danger {
    @include my-btn-mixin($red);
}


.btn {
    &-big{
        padding: .5rem 5rem;
        font-size: 1.3rem;
    }

    &-medium {
        padding: .5rem 4rem;
        font-size: 1.2rem;
    }

}

.btn-social {
    
    
    &-facebook {
        @include social-button;
        background-color: #4267B2;
    }

    &-google {
        @include social-button;
        background-color: #DB4437;
    }

    &-apple {
        @include social-button;
        background-color: black;
    }

    
}