{% extends "base.html" %}



{% block nav_items %}
    {%if request.user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link active" href="{%url 'user_home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{%url 'course_list' %}">courses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{%url 'logout' %}">logout</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">account</a>
    </li>
    {%else%}
    <li class="nav-item">
      <a class="nav-link" href="{%url 'course_list'%}">courses</a>
    </li> 
    <li class="nav-item">
      <a class="nav-link" href="{%url 'login'%}">Login</a>
    </li>
    {%endif%}

    
{%endblock%}

{% block content %}
<section id="main">
    <div class="container-fluid">
      <div class="row">
          <!--Side nav-->
        <div class="col-md-2 bg-primary p-0">
          <ul class=" nav sidenav flex-column mt-3 mb-3" id="sideNav">
            
            {% block sidenav_links%}
            {%endblock%}
            
          </ul>
        </div>
        <!--Content-->
        <div class="col">
            {% if error %}
                <div class="alert alert-warning" role="alert">
                    {{error}}
                </div>
            {%endif%}

            {%block main_content %}
            {%endblock%}
            
        </div>
      </div>
    </div>
  </section>

{% endblock %}