{% extends "manage/form_base.html" %}

{% block title %}
    {%if object %}
    Edit {{type}}  
    {% else %}
    Create {{type}}
    {% endif %}
{% endblock %}

{% block side_nav%}
  <li class="nav-item">
    <a class="nav-link "href="{%url 'course_list' %}">All Courses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{%url 'manage_course_list' 'all' %}">My Courses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{%url 'module_content_list' module.id %}">Back to Module</a>
  </li>
{%endblock%}

{%block form_top_content %}
  {%if object %}
      <h5 class="display-5">Edit {{type}} {%if object.title %}{{object.title}}{%endif%}</h5>   
  {% else %}
      <h5 class="display-5">Create {{type}}</h5>   
  {% endif %}
{% endblock %}

{% block save_and_add_another %}
  <h6> Save and Add another </h6>
  <input type="submit" name="add" value="text" class="mb-3 btn btn-primary-solid fs-5"></input>
  <input type="submit" name="add" value="image" class="mb-3 btn btn-primary-solid fs-5"></input>
  <input type="submit" name="add" value="file" class="mb-3 btn btn-primary-solid fs-5"></input>
  <input type="submit" name="add" value="video" class="mb-3 btn btn-primary-solid fs-5"></input>
  <br>
{% endblock %}

{% block cancel_href %}{%url 'module_content_list' module.id %}{%endblock%}





